<!-- About Section -->
    <section id="about" class="bg-light-gray">
        <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2 class="section-heading">About</h2>
                  <p>
                    CloudHacks is Saint Cloud State University's first ever 24 hour caffeine filled hackathon where all students are welcome.
                    Students from any field of study with any skills from serious coding skills to beginners are encouraged to bring their ideas, create, test and learn something new to win great exciting prizes for you and your team.
                  </p>
                  <div class="row about-icons text-center" style="margin-top: 50px">
                      <div class="col-md-3">
                        <span class="about-stack fa-4x">
                          <i class="fa fa-cogs"></i>
                        </span>
                        <h4 class="service-heading">Build</h4>
                      </div>
                      <div class="col-md-3">
                        <span class="about-stack fa-4x">
                          <i class="fa fa-code"></i>
                          <h4 class="service-heading">Learn</h4>
                        </span>
                      </div>
                      <div class="col-md-3">
                        <span class="about-stack fa-4x">
                          <i class="fa fa-share-alt"></i>
                          <h4 class="service-heading">Share</h4>
                        </span>
                      </div>
                      <div class="col-md-3">
                        <span class="about-stack fa-4x">
                          <i class="fa fa-trophy"></i>
                          <h4 class="service-heading">Win Prizes</h4>
                        </span>
                      </div>
                  </div>
              </div>
          </div>
        </div>
    </section>
