<section id="contact" style="padding:50px 0">
        <div class="container" style="margin-top:-30px; margin-bottom:45px">
            <div class="row" style="margin-bottom: 30px">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" data-toggle="validator" novalidate="true">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="control-group form-group has-feedback">
                                    <input type="text" class="form-control" minLength="1" placeholder="Name" name='name' id="contactName" required>
                                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                </div>
                                <div class="control-group form-group has-feedback">
                                    <input type="email" class="form-control" placeholder="E-mail Address" name='email' id="contactEmail" data-error="Please provide valid email address" required>
                                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="control-group form-group has-feedback">
                                    <textarea class="form-control" placeholder="Message" maxlength="300" name='message' id="contactMessage" required></textarea>
                                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group">
                                <div class="col-lg-12 text-center">
                                    <div id="success"></div>
                                    <button type="submit" name="submit" class="btn btn-xl">Send Message</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
