<!-- FAQ Section -->
    <section id="faq">
      <div class="row text-center">
              <div class="col-lg-8 col-lg-offset-2">
                  <h2>Frequently Asked Questions</h2>
                  <br>
                  <br>
              </div>
              <div class="col-md-10 col-md-offset-1">
                  <div class="col-md-6 faq-column">
                      <div class="card">
                          <h4>Are there travel reimbursements?</h4>
                          <p>At this time, we are not providing travel reimbursements. If you sign up, please make all efforts to attend!</p>
                      </div>
                      <div class="card">
                          <h4>When should I arrive?</h4>
                          <p>Check-ins will begin from 11 AM on Saturday. Schedule with more details will be released soon</p>
                      </div>
                      <div class="card">
                          <h4>Who is invited?</h4>
                          <p>Any current college or university students are allowed to attend.</p>
                      </div>
                      <div class="card">
                          <h4>What if I am a beginner</h4>
                          <p>No worries at all. Hackathon is a great place to get some experience. We will have mentors, vaious workshops during the hackathon to help you along the way of perfection. We will also have a Slack team where you can ask questions and get help
                          during the hackathon.</p>
                      </div>
                      <div class="card">
                          <h4>Is there place to sleep?</h4>
                          <p>We will have a designated sleeping area, and you are encouraged to bring sleeping bags, blankets, pillows, toiletries, and anything else you need to sleep.</p>
                      </div>
                  </div>
                  <div class="col-md-6 faq-column">
                      <div class="card">
                          <h4>How much does it cost?</h4>
                          <p>CloudHacks hackathon is completely free for eligible and registered students. We will provide you with the venue, food, drinks, caffeine, place to sleep if needed, internet connection, etc</p>
                      </div>
                      <div class="card">
                          <h4>How does teams work?</h4>
                          <p>There is a maximum of 4 people per team. You can come with a premade team, or come alone and we will match you up with other participants during team building activities.</p>
                      </div>
                      <div class="card">
                          <h4>What should I bring?</h4>
                          <p>You will definitely need your laptop, phone, their chargers, as well as a valid student or government ID. Feel free to also bring along a sleeping bag, blankets, toiletries and we recommend some comfortable clothes.</p>
                      </div>
                      <div class="card">
                          <h4>Will there be food and drinks?</h4>
                          <p>Yes! Absolutely! We will provide catered meals, drinks at all times, snack breaks, and endless caffeine.</p>
                      </div>
                      <div class="card">
                          <h4>Is there a code of conduct?</h4>
                          <p>Yes, we abide by the <a href="http://www.stcloudstate.edu/studenthandbook/code/" target="_blank">SCSU Code of Conduct</a>.</p>
                      </div>
                  </div>
              </div>
          </div>
    </section>
