    <!-- Header -->
    <header>
      <div id="particles-js">
      </div>
          <div class="container" style="position:relative;z-index: 999!important;top: 50%;">
              <div class="intro-text">
                  <div class="intro-heading" style="text-transform: none;">St. Cloud State University</div>
                  <div class="intro-lead-in">April 1<sup>st</sup> - 2<sup>nd</sup>, 2017</div>
                  <!-- <div class="intro-heading" style="text-transform: none;">April 1<sup>st</sup> - 2<sup>nd</sup>, 2017</div> -->
                  <a href=#register onclick="$('#register').modal('show')">
                    <button type="button" class="btn btn-primary btn-lg"> Register Now </button>
                  </a>
                  <div class="intro-minor" style="text-transform: none;">
                    Already Registered?
                    <a href=#login onclick="$('#login').modal('show')"> Log in </a>
                  </div>
              </div>
          </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->
