<section id="sponsors">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Sponsors</h2>
        <h3>
          <a href="/sponsorship" class="btn btn-xl">
            Sponsor Us
          </a>
        </h3>
      </div>
    </div>

    <!-- <div class="row padded-row">
      <div class="col-lg-12 text-center">
        <a href="https://www.optum.com/about/careers.html" title="">
          <img src="/img/logos/optum-logo.png" alt="" class="sponsor sponsor-platinum">
        </a>
      </div>
    </div>

    <div class="row padded-row">
      <div class="col-lg-12 text-center">
      </div>
    </div>

    <div class="row padded-row">
      <div class="col-lg-12 text-center">
        <a href="https://corporate.target.com/careers" title="Target"
          <img src="/img/logos/target-logo.png" alt="Target" class="sponsor sponsor-silver" square="">
        </a>
        <a href="http://www.ibm.com/employment" title="IBM">
          <img src="/img/logos/ibm-logo.png" alt="IBM" class="sponsor sponsor-silver">
        </a>
        <a href="https://www.pantheon.io/careers" title="Pantheon Website Management">
          <img src="/img/logos/pantheon-logo.png" alt="Pantheon Website Management" class="sponsor sponsor-silver">
        </a>
        <a href="http://www.mavericksoftware.com/Students/Careers.aspx" title="Maverick Software Consulting">
          <img src="/img/logos/maverick-logo.png" alt="Maverick Software Consulting" class="sponsor sponsor-silver">
        </a>
        <a href="http://www.shavlik.com/company/careers/" title="Shavlik Technologies">
          <img src="/img/logos/shavlik-logo.png" alt="Shavlik Technologies" class="sponsor sponsor-silver">
        </a>
        <a href="http://www.morphotrust.com/" title="MorphoTrust">
          <img src="/img/logos/morphotrust-logo.png" alt="MorphoTrust" class="sponsor sponsor-silver">
        </a>
        <a href="http://concordusa.com/careers" title="Concord">
          <img src="/img/logos/svg/concord-logo.svg" alt="Concord" class="sponsor sponsor-silver">
        </a>
      </div>
    </div>

    <div class="row padded-row">
      <div class="col-lg-12 text-center">
        <a href="https://careers.google.com/" title="Google">
          <img src="/img/logos/google-logo.png" alt="Google" class="sponsor sponsor-bronze">
        </a>
        <a href="https://www.theironyard.com/" title="The Iron Yard">
          <img src="/img/logos/theironyard-logo.png" alt="The Iron Yard" class="sponsor sponsor-bronze" square="">
        </a>
        <a href="https://undergroundshirts.com/" title="Underground Printing">
          <img src="/img/logos/undergroundprinting-logo.jpg" alt="Underground Printing" class="sponsor sponsor-bronze">
        </a>
      </div>
    </div> -->

  </div>
</section>
